$primary: hsl(213, 84%, 24%);
$secondary: hsl(214, 26%, 88%);
$bg-color: hsl(227, 60%, 97%);
$gray-400: hsl(210, 9%, 31%);
$gray-500: hsl(0, 0%, 50%);
$white-900: hsl(100, 100%, 100%);
$shadow: 0px 24px 32px -8px hsla(0, 0%, 0%, 0.08);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;